label.control-label {
  font-weight: bold;
}

.page-header.navbar, .page-header.navbar .page-logo, .page-header.navbar .top-menu .navbar-nav > li.dropdown {
  height: 70px;
}

.page-header-fixed .page-container {
  margin-top: 70px;
}

.page-header.navbar .page-logo .logo-default {
  margin: 10px 0 0;
  height: 50px;
}

.page-header.navbar .top-menu .navbar-nav > li.dropdown-user .dropdown-toggle {
  padding: 25px 8px;
}

.rememberme {
  color: white;
}

/*# sourceMappingURL=app.css.map */
