#datatable_products_filter, .dataTables_filter {
	float:right;
}
.thumbnail-preview {
	width: 100%;
	min-height: 34px;
	max-height: 170px;
	overflow-y: auto;
	padding: 10px;
	background-color: #fff;
	border: 1px solid #c2cad8;
	margin-bottom: 5px;
}
.thumbnail-preview img {
	float: left;
	margin-right: 10px;
	margin-bottom: 10px;
	width: 70px;
	height: 70px;
}
tr.row-deleted {
	background-color: rgba(255, 0, 35, 0.32) !important;
}
.table-hover>tbody>tr.row-deleted:hover, .table-bordered>tbody>tr.row-deleted:hover >td {
	background: rgba(255, 0, 35, 0.35) !important;
}
.approval-status-container {
	padding: 50px 200px;
}
.view-campaign .form-group .form-control, .view-campaign .form-group .label {
    margin-bottom: 10px;
}
.mt-action-dot {
	display: inline-block;
	width: 10px;
	height: 10px;
	background-color: red;
	border-radius: 50%!important;
	margin-left: 5px;
	margin-right: 5px;
}
.todo-projects-item.unread {
	background-color: #e9faff;
}
.ratingsProvider {
	margin-top: 10px;
}
required {
	color: red;
	font-weight: bolder;
}
.customer-filter {
	padding: 0 20px;
}
.tree-container > div {
	background-color: #FFF;
	border: 1px solid #c2cad8;
	max-height: 300px;
	min-height: 100px;
	overflow-y: auto;
}
.striked {
	text-decoration: line-through;
}
.jstree-anchor > .jstree-checkbox-disabled { display: none !important; }
.light-red { background-color: rgba(255, 0, 0, 0.12) !important; }
.light-green { background-color: rgba(61, 255, 81, 0.23) !important; }
.page-header.navbar .menu-toggler.responsive-toggler {margin-top: 25.5px !important;}
.create_order .portlet>.portlet-title>.caption>i{font-size: 18px;}
.retailer-category.tree-container label{margin-top:5px;margin-bottom: 12px;}
